<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ASCOM.Utilities" publicKeyToken="565DE7938946FBA7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.5.2.0" newVersion="5.5.2.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
