<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Ascom All Rules" Description="This rule set contains rules for the ASCOM Platform. " ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1003" Action="None" />
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1005" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1007" Action="None" />
    <Rule Id="CA1008" Action="None" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1011" Action="None" />
    <Rule Id="CA1012" Action="None" />
    <Rule Id="CA1013" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1018" Action="None" />
    <Rule Id="CA1019" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1021" Action="None" />
    <Rule Id="CA1023" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1025" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1027" Action="None" />
    <Rule Id="CA1028" Action="None" />
    <Rule Id="CA1030" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1035" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1038" Action="None" />
    <Rule Id="CA1039" Action="None" />
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1041" Action="None" />
    <Rule Id="CA1043" Action="None" />
    <Rule Id="CA1044" Action="None" />
    <Rule Id="CA1045" Action="None" />
    <Rule Id="CA1046" Action="None" />
    <Rule Id="CA1047" Action="None" />
    <Rule Id="CA1048" Action="None" />
    <Rule Id="CA1049" Action="None" />
    <Rule Id="CA1050" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1053" Action="None" />
    <Rule Id="CA1054" Action="Warning" />
    <Rule Id="CA1055" Action="Warning" />
    <Rule Id="CA1056" Action="Warning" />
    <Rule Id="CA1057" Action="None" />
    <Rule Id="CA1058" Action="None" />
    <Rule Id="CA1059" Action="None" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1064" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1300" Action="None" />
    <Rule Id="CA1301" Action="Warning" />
    <Rule Id="CA1302" Action="Warning" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="Warning" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1306" Action="Warning" />
    <Rule Id="CA1307" Action="Warning" />
    <Rule Id="CA1308" Action="Warning" />
    <Rule Id="CA1309" Action="Warning" />
    <Rule Id="CA1400" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1402" Action="Warning" />
    <Rule Id="CA1403" Action="None" />
    <Rule Id="CA1404" Action="None" />
    <Rule Id="CA1405" Action="None" />
    <Rule Id="CA1406" Action="None" />
    <Rule Id="CA1407" Action="None" />
    <Rule Id="CA1408" Action="None" />
    <Rule Id="CA1409" Action="None" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1411" Action="None" />
    <Rule Id="CA1412" Action="None" />
    <Rule Id="CA1413" Action="Warning" />
    <Rule Id="CA1414" Action="None" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA1501" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1504" Action="None" />
    <Rule Id="CA1505" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1600" Action="None" />
    <Rule Id="CA1601" Action="None" />
    <Rule Id="CA1700" Action="None" />
    <Rule Id="CA1701" Action="None" />
    <Rule Id="CA1702" Action="None" />
    <Rule Id="CA1703" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1713" Action="None" />
    <Rule Id="CA1714" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1717" Action="None" />
    <Rule Id="CA1719" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1721" Action="None" />
    <Rule Id="CA1722" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA1800" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1802" Action="None" />
    <Rule Id="CA1804" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1809" Action="None" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1813" Action="None" />
    <Rule Id="CA1814" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1820" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1823" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA1900" Action="None" />
    <Rule Id="CA1901" Action="None" />
    <Rule Id="CA1903" Action="None" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2001" Action="None" />
    <Rule Id="CA2002" Action="None" />
    <Rule Id="CA2003" Action="None" />
    <Rule Id="CA2004" Action="None" />
    <Rule Id="CA2006" Action="None" />
    <Rule Id="CA2100" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2102" Action="None" />
    <Rule Id="CA2103" Action="None" />
    <Rule Id="CA2104" Action="None" />
    <Rule Id="CA2105" Action="None" />
    <Rule Id="CA2106" Action="None" />
    <Rule Id="CA2107" Action="None" />
    <Rule Id="CA2108" Action="None" />
    <Rule Id="CA2109" Action="None" />
    <Rule Id="CA2111" Action="None" />
    <Rule Id="CA2112" Action="None" />
    <Rule Id="CA2114" Action="None" />
    <Rule Id="CA2115" Action="None" />
    <Rule Id="CA2116" Action="None" />
    <Rule Id="CA2117" Action="None" />
    <Rule Id="CA2118" Action="None" />
    <Rule Id="CA2119" Action="None" />
    <Rule Id="CA2120" Action="None" />
    <Rule Id="CA2121" Action="None" />
    <Rule Id="CA2122" Action="None" />
    <Rule Id="CA2123" Action="None" />
    <Rule Id="CA2124" Action="None" />
    <Rule Id="CA2126" Action="None" />
    <Rule Id="CA2130" Action="None" />
    <Rule Id="CA2131" Action="None" />
    <Rule Id="CA2132" Action="None" />
    <Rule Id="CA2133" Action="None" />
    <Rule Id="CA2134" Action="None" />
    <Rule Id="CA2135" Action="None" />
    <Rule Id="CA2136" Action="None" />
    <Rule Id="CA2137" Action="None" />
    <Rule Id="CA2138" Action="None" />
    <Rule Id="CA2139" Action="None" />
    <Rule Id="CA2140" Action="None" />
    <Rule Id="CA2141" Action="None" />
    <Rule Id="CA2142" Action="None" />
    <Rule Id="CA2143" Action="None" />
    <Rule Id="CA2144" Action="None" />
    <Rule Id="CA2145" Action="None" />
    <Rule Id="CA2146" Action="None" />
    <Rule Id="CA2147" Action="None" />
    <Rule Id="CA2149" Action="None" />
    <Rule Id="CA2151" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2205" Action="None" />
    <Rule Id="CA2207" Action="None" />
    <Rule Id="CA2208" Action="None" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2212" Action="None" />
    <Rule Id="CA2213" Action="None" />
    <Rule Id="CA2214" Action="None" />
    <Rule Id="CA2215" Action="None" />
    <Rule Id="CA2216" Action="None" />
    <Rule Id="CA2217" Action="None" />
    <Rule Id="CA2218" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2220" Action="None" />
    <Rule Id="CA2221" Action="None" />
    <Rule Id="CA2222" Action="None" />
    <Rule Id="CA2223" Action="None" />
    <Rule Id="CA2224" Action="None" />
    <Rule Id="CA2225" Action="None" />
    <Rule Id="CA2226" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA2228" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2230" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2232" Action="None" />
    <Rule Id="CA2233" Action="None" />
    <Rule Id="CA2234" Action="None" />
    <Rule Id="CA2235" Action="None" />
    <Rule Id="CA2236" Action="None" />
    <Rule Id="CA2237" Action="None" />
    <Rule Id="CA2238" Action="None" />
    <Rule Id="CA2239" Action="None" />
    <Rule Id="CA2240" Action="None" />
    <Rule Id="CA2241" Action="None" />
    <Rule Id="CA2242" Action="None" />
    <Rule Id="CA2243" Action="None" />
    <Rule Id="CA5122" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010" Action="None" />
    <Rule Id="IDE0010WithoutSuggestion" Action="None" />
    <Rule Id="IDE0033" Action="None" />
    <Rule Id="IDE0033WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic">
    <Rule Id="AD0001" Action="None" />
    <Rule Id="BC2007" Action="None" />
    <Rule Id="BC2025" Action="None" />
    <Rule Id="BC2034" Action="None" />
    <Rule Id="BC2038" Action="None" />
    <Rule Id="BC40000" Action="None" />
    <Rule Id="BC40001" Action="None" />
    <Rule Id="BC40003" Action="None" />
    <Rule Id="BC40004" Action="None" />
    <Rule Id="BC40005" Action="None" />
    <Rule Id="BC40007" Action="None" />
    <Rule Id="BC40008" Action="None" />
    <Rule Id="BC40009" Action="None" />
    <Rule Id="BC40010" Action="None" />
    <Rule Id="BC40011" Action="None" />
    <Rule Id="BC40012" Action="None" />
    <Rule Id="BC40014" Action="None" />
    <Rule Id="BC40018" Action="None" />
    <Rule Id="BC40019" Action="None" />
    <Rule Id="BC40020" Action="None" />
    <Rule Id="BC40025" Action="None" />
    <Rule Id="BC40026" Action="None" />
    <Rule Id="BC40027" Action="None" />
    <Rule Id="BC40028" Action="None" />
    <Rule Id="BC40029" Action="None" />
    <Rule Id="BC40030" Action="None" />
    <Rule Id="BC40031" Action="None" />
    <Rule Id="BC40032" Action="None" />
    <Rule Id="BC40033" Action="None" />
    <Rule Id="BC40034" Action="None" />
    <Rule Id="BC40035" Action="None" />
    <Rule Id="BC40038" Action="None" />
    <Rule Id="BC40039" Action="None" />
    <Rule Id="BC40040" Action="None" />
    <Rule Id="BC40041" Action="None" />
    <Rule Id="BC40042" Action="None" />
    <Rule Id="BC40043" Action="None" />
    <Rule Id="BC40046" Action="None" />
    <Rule Id="BC40048" Action="None" />
    <Rule Id="BC40049" Action="None" />
    <Rule Id="BC40050" Action="None" />
    <Rule Id="BC40051" Action="None" />
    <Rule Id="BC40052" Action="None" />
    <Rule Id="BC40053" Action="None" />
    <Rule Id="BC40054" Action="None" />
    <Rule Id="BC40055" Action="None" />
    <Rule Id="BC40056" Action="None" />
    <Rule Id="BC40057" Action="None" />
    <Rule Id="BC40059" Action="None" />
    <Rule Id="BC40060" Action="None" />
    <Rule Id="BC40998" Action="None" />
    <Rule Id="BC41001" Action="None" />
    <Rule Id="BC41002" Action="None" />
    <Rule Id="BC41003" Action="None" />
    <Rule Id="BC41004" Action="None" />
    <Rule Id="BC41005" Action="None" />
    <Rule Id="BC41006" Action="None" />
    <Rule Id="BC41007" Action="None" />
    <Rule Id="BC41008" Action="None" />
    <Rule Id="BC41009" Action="None" />
    <Rule Id="BC41997" Action="None" />
    <Rule Id="BC41998" Action="None" />
    <Rule Id="BC41999" Action="None" />
    <Rule Id="BC42000" Action="None" />
    <Rule Id="BC42004" Action="None" />
    <Rule Id="BC42016" Action="None" />
    <Rule Id="BC42017" Action="None" />
    <Rule Id="BC42018" Action="None" />
    <Rule Id="BC42019" Action="None" />
    <Rule Id="BC42020" Action="None" />
    <Rule Id="BC42021" Action="None" />
    <Rule Id="BC42022" Action="None" />
    <Rule Id="BC42024" Action="None" />
    <Rule Id="BC42025" Action="None" />
    <Rule Id="BC42026" Action="None" />
    <Rule Id="BC42029" Action="None" />
    <Rule Id="BC42030" Action="None" />
    <Rule Id="BC42031" Action="None" />
    <Rule Id="BC42032" Action="None" />
    <Rule Id="BC42033" Action="None" />
    <Rule Id="BC42034" Action="None" />
    <Rule Id="BC42035" Action="None" />
    <Rule Id="BC42036" Action="None" />
    <Rule Id="BC42037" Action="None" />
    <Rule Id="BC42038" Action="None" />
    <Rule Id="BC42099" Action="None" />
    <Rule Id="BC42101" Action="None" />
    <Rule Id="BC42102" Action="None" />
    <Rule Id="BC42104" Action="None" />
    <Rule Id="BC42105" Action="None" />
    <Rule Id="BC42106" Action="None" />
    <Rule Id="BC42107" Action="None" />
    <Rule Id="BC42108" Action="None" />
    <Rule Id="BC42109" Action="None" />
    <Rule Id="BC42111" Action="None" />
    <Rule Id="BC42207" Action="None" />
    <Rule Id="BC42300" Action="None" />
    <Rule Id="BC42301" Action="None" />
    <Rule Id="BC42302" Action="None" />
    <Rule Id="BC42303" Action="None" />
    <Rule Id="BC42304" Action="None" />
    <Rule Id="BC42305" Action="None" />
    <Rule Id="BC42306" Action="None" />
    <Rule Id="BC42307" Action="None" />
    <Rule Id="BC42308" Action="None" />
    <Rule Id="BC42309" Action="None" />
    <Rule Id="BC42310" Action="None" />
    <Rule Id="BC42311" Action="None" />
    <Rule Id="BC42312" Action="None" />
    <Rule Id="BC42313" Action="None" />
    <Rule Id="BC42314" Action="None" />
    <Rule Id="BC42315" Action="None" />
    <Rule Id="BC42316" Action="None" />
    <Rule Id="BC42317" Action="None" />
    <Rule Id="BC42318" Action="None" />
    <Rule Id="BC42319" Action="None" />
    <Rule Id="BC42320" Action="None" />
    <Rule Id="BC42321" Action="None" />
    <Rule Id="BC42322" Action="None" />
    <Rule Id="BC42324" Action="None" />
    <Rule Id="BC42326" Action="None" />
    <Rule Id="BC42327" Action="None" />
    <Rule Id="BC42328" Action="None" />
    <Rule Id="BC42332" Action="None" />
    <Rule Id="BC42333" Action="None" />
    <Rule Id="BC42334" Action="None" />
    <Rule Id="BC42335" Action="None" />
    <Rule Id="BC42336" Action="None" />
    <Rule Id="BC42337" Action="None" />
    <Rule Id="BC42338" Action="None" />
    <Rule Id="BC42339" Action="None" />
    <Rule Id="BC42340" Action="None" />
    <Rule Id="BC42341" Action="None" />
    <Rule Id="BC42342" Action="None" />
    <Rule Id="BC42343" Action="None" />
    <Rule Id="BC42344" Action="None" />
    <Rule Id="BC42345" Action="None" />
    <Rule Id="BC42346" Action="None" />
    <Rule Id="BC42347" Action="None" />
    <Rule Id="BC42348" Action="None" />
    <Rule Id="BC42349" Action="None" />
    <Rule Id="BC42350" Action="None" />
    <Rule Id="BC42351" Action="None" />
    <Rule Id="BC42352" Action="None" />
    <Rule Id="BC42353" Action="None" />
    <Rule Id="BC42354" Action="None" />
    <Rule Id="BC42355" Action="None" />
    <Rule Id="BC42356" Action="None" />
    <Rule Id="BC42357" Action="None" />
    <Rule Id="BC42358" Action="None" />
    <Rule Id="BC42359" Action="None" />
    <Rule Id="BC42360" Action="None" />
    <Rule Id="BC42361" Action="None" />
    <Rule Id="BC42364" Action="None" />
    <Rule Id="BC42366" Action="None" />
    <Rule Id="BC42367" Action="None" />
    <Rule Id="BC42368" Action="None" />
    <Rule Id="BC42369" Action="None" />
    <Rule Id="BC42370" Action="None" />
    <Rule Id="BC42371" Action="None" />
    <Rule Id="BC42372" Action="None" />
    <Rule Id="BC42373" Action="None" />
    <Rule Id="BC42374" Action="None" />
    <Rule Id="BC42375" Action="None" />
    <Rule Id="BC42376" Action="None" />
    <Rule Id="BC42377" Action="None" />
    <Rule Id="BC42378" Action="None" />
    <Rule Id="BC42379" Action="None" />
    <Rule Id="BC42380" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic.EditorFeatures">
    <Rule Id="IDE0032" Action="None" />
    <Rule Id="IDE0032WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic.Features" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0005" Action="None" />
    <Rule Id="IDE0009" Action="None" />
    <Rule Id="IDE0009WithoutSuggestion" Action="None" />
    <Rule Id="IDE0012" Action="None" />
    <Rule Id="IDE0013" Action="None" />
    <Rule Id="IDE0014" Action="None" />
    <Rule Id="IDE0015" Action="None" />
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0017WithoutSuggestion" Action="None" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE0028WithoutSuggestion" Action="None" />
    <Rule Id="IDE0029" Action="None" />
    <Rule Id="IDE0029WithoutSuggestion" Action="None" />
    <Rule Id="IDE0030" Action="None" />
    <Rule Id="IDE0030WithoutSuggestion" Action="None" />
    <Rule Id="IDE0031" Action="None" />
    <Rule Id="IDE0031WithoutSuggestion" Action="None" />
    <Rule Id="IDE0035" Action="None" />
    <Rule Id="IDE0036" Action="None" />
    <Rule Id="IDE0036WithoutSuggestion" Action="None" />
    <Rule Id="IDE0037" Action="None" />
    <Rule Id="IDE0037WithoutSuggestion" Action="None" />
    <Rule Id="IDE0040" Action="None" />
    <Rule Id="IDE0040WithoutSuggestion" Action="None" />
    <Rule Id="IDE0041" Action="None" />
    <Rule Id="IDE0041WithoutSuggestion" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
  </Rules>
</RuleSet>