<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Optec_TCF_S_Focuser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Optec_TCF_S_Focuser.Properties.Settings>
            <setting name="DisplayFocusOffsets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayAbsoluteMove" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayRelativeMoves" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayAbsolutePresets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayPosAndTemp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayTempComp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormLocX" serializeAs="String">
                <value>-1000</value>
            </setting>
            <setting name="FormLocY" serializeAs="String">
                <value>-1000</value>
            </setting>
            <setting name="RelativePanelHeight" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="AbsolutePanelHeight" serializeAs="String">
                <value>75</value>
            </setting>
        </Optec_TCF_S_Focuser.Properties.Settings>
    </userSettings>
</configuration>