<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.11" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="5.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.14.275" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="17.7.113" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Threading" version="18.7.23" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="18.7.23" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Threading.Only" version="18.7.23" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="17.13.22" targetFramework="net472" />
  <package id="Microsoft.VsSDK.CompatibilityAnalyzer" version="18.3.1108" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="10.0.11" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="10.0.11" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
</packages>