<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestFocus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestFocus.Properties.Settings>
            <setting name="FocuserID" serializeAs="String">
                <value />
            </setting>
            <setting name="Steps" serializeAs="String">
                <value />
            </setting>
            <setting name="Position" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentItem" serializeAs="String">
                <value />
            </setting>
        </TestFocus.Properties.Settings>
    </userSettings>
</configuration>