<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CameraTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CameraTest.Properties.Settings>
            <setting name="CameraID" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Dividerleft" serializeAs="String">
                <value>183</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>760, 569</value>
            </setting>
            <setting name="Gamma" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="Exposure" serializeAs="String">
                <value>0.001</value>
            </setting>
        </CameraTest.Properties.Settings>
    </userSettings>
</configuration>