<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestHarness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestHarness.Properties.Settings>
            <setting name="SwitchF1F2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F1FocusOffsets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Offset1,100</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="F2FocusPresets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Preset1,1000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="F2FocusOffsets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Offset1,100</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="F1FocusPresets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Preset1,1000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Focuser2Disabled" serializeAs="String">
                <value>False</value>
            </setting>
        </TestHarness.Properties.Settings>
    </userSettings>
</configuration>