<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ASCOM.DeviceName.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ASCOM.Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASCOM.Simulator.Properties.Settings>
            <setting name="VideoCaptureDeviceName" serializeAs="String">
                <value>Simulated Video Capture Device</value>
            </setting>
            <setting name="SupportedActionsList" serializeAs="String">
                <value>SimulatedAction1#;SimulatedAction2</value>
            </setting>
            <setting name="SupportedExposuresList" serializeAs="String">
                <value>0.04#;0.08#;0.16#;0.32#;0.64#;1.28#;2.56#;5.12#;10.24</value>
            </setting>
            <setting name="ExposureMax" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ExposureMin" serializeAs="String">
                <value>0.033</value>
            </setting>
            <setting name="CameraType" serializeAs="String">
                <value>AnalogueIntegrating</value>
            </setting>
            <setting name="CameraFrameRate" serializeAs="String">
                <value>PAL</value>
            </setting>
            <setting name="SensorName" serializeAs="String">
                <value>ICX285AL</value>
            </setting>
            <setting name="SensorType" serializeAs="String">
                <value>Monochrome</value>
            </setting>
            <setting name="BitDepth" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SourceBitmapFilesLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="VideoFileFormat" serializeAs="String">
                <value>AVI</value>
            </setting>
            <setting name="GainMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GainMax" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Gains" serializeAs="String">
                <value/>
            </setting>
            <setting name="Gammas" serializeAs="String">
                <value>OFF#;LO#;HI</value>
            </setting>
            <setting name="SupportsGainRange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PixelSizeX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PixelSizeY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UseEmbeddedVideoSource" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseBuffering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="SupportsGammaRange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GammaMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GammaMax" serializeAs="String">
                <value>256</value>
            </setting>
        </ASCOM.Simulator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
