<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="7e84020d-1fde-4718-b395-793b8aff6209" Name="Windows PowerShell Cmdlets for ASCOM" Language="1033" Version="1.0.0.0" Manufacturer="The ASCOM Initiative" UpgradeCode="bc11af76-d211-4f04-9615-1d12c4ddead1">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="ASCOM.PowerShell.WiX">
					 <Component Id="CmdletsComponent" Guid="133043E2-4E6C-4259-8A5D-054FAA50B2E7">
             <File Id="Cmdlets" Source="SourceDir\ASCOMPowerShellCmdlets.dll" KeyPath="yes" />
					 </Component>
          <Component Id="cmpASCOMPowerShellCmdletsDllConfig" Guid="68846F2F-833D-45C5-A5E5-C3DF15D03E3D">
            <File Id="filASCOMPowerShellCmdletsDllConfig" KeyPath="yes" Source="SourceDir\ASCOMPowerShellCmdlets.dll.config" />
          </Component>
          <Component Id="cmpASCOMPowerShellCmdletsPdb" Guid="21A9B193-D073-472E-861D-5BA3C9A519D0">
            <File Id="filASCOMPowerShellCmdletsPdb" KeyPath="yes" Source="SourceDir\ASCOMPowerShellCmdlets.pdb" />
          </Component>

          <Component Id="cmpASCOMPowerShellCmdletsDllHelpXml" Guid="2AEEDA24-492B-4AA2-AF77-4D58D409D12A">
            <File Id="filASCOMPowerShellCmdletsDllHelpXml" Source="SourceDir\ASCOMPowerShellCmdlets.dll-Help.xml" KeyPath="yes" />
          </Component>
          <Component Id="cmpAscomIcon" Guid="904AC6F6-D337-4C0F-97DE-5773BD88AED4">
            <File Id="filAscomIcon" Source="SourceDir\ASCOM.ico" KeyPath="yes" />
          </Component>
        </Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="ASCOM.PowerShell.WiX" Level="1">
			<!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
			<!-- <ComponentRef Id="ProductComponent" /> -->
			
			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>
	</Product>
</Wix>
