<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCOM.Optec.Properties.Defaults" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ASCOM.Optec.Default" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASCOM.Optec.Properties.Defaults>
            <setting name="Port1Name" serializeAs="String">
                <value>Port 1</value>
            </setting>
            <setting name="Port2Name" serializeAs="String">
                <value>Port 2</value>
            </setting>
            <setting name="Port3Name" serializeAs="String">
                <value>Port 3</value>
            </setting>
            <setting name="Port4Name" serializeAs="String">
                <value>Port 4</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P1FocusOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P2FocusOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P3FocusOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P4FocusOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P1RAOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P2RAOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P3RAOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P4RAOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P1DecOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P2DecOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P3DecOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P4DecOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P1RotationOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P2RotationOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P3RotationOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P4RotationOffset" serializeAs="String">
                <value>0</value>
            </setting>
        </ASCOM.Optec.Properties.Defaults>
        <ASCOM.Optec.Default>
            <setting name="Port1Name" serializeAs="String">
                <value>Port 1</value>
            </setting>
            <setting name="Port2Name" serializeAs="String">
                <value>Port 2</value>
            </setting>
            <setting name="Port3Name" serializeAs="String">
                <value>Port 3</value>
            </setting>
            <setting name="Port4Name" serializeAs="String">
                <value>Port 4</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value />
            </setting>
            <setting name="P1FocusOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="P2FocusOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="P3FocusOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="P4FocusOffset" serializeAs="String">
                <value />
            </setting>
        </ASCOM.Optec.Default>
    </userSettings>
</configuration>