<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCOM.TEMPLATEDEVICENAME.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASCOM.TEMPLATEDEVICENAME.Properties.Settings>
            <setting name="PreferredCaptureDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferredCompressorDevice" serializeAs="String">
                <value>Uncompressed</value>
            </setting>
            <setting name="SimulatedImageLayout" serializeAs="String">
                <value>Color</value>
            </setting>
            <setting name="LumaConversionMode" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="UsesTunerCrossbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrossbarOutputPin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CrossbarInputPin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedVideoFormat" serializeAs="String">
                <value />
            </setting>
        </ASCOM.TEMPLATEDEVICENAME.Properties.Settings>
    </userSettings>
</configuration>