body {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #E4F0F3;
	margin: 0px;
	padding: 0px;
	background-color: #333333;
}

h6 {
	color: #CC6600;
}
h5 {
	font-size: 9pt;
	color: #FF9900;
}
h4 {
	color: #CC6600;
}
h3 {
	color: #CC6600;
}
h2 {
	color: #CC6600;
}
h1 {
	color: #CC3300;
}
a {
	color: #FFCC00;
	text-decoration: underline;
}
a:hover {
	color: #00FFFF;
	text-decoration: underline;
}
em {
	color: red;
}


hr {
	height: 1px;
	color: #808080;
	margin: 10px 0 0 0;
}

.article {
}

.article h3 {
	padding: 0 0 9px 32px;
	color: #FF9900;
	/* background: #333333 url('../Images/H3.jpg') no-repeat left 50%;*/
	background-color: #333333;
	background-image: url('../Images/H3.jpg');
	background-repeat: no-repeat;
	background-position: left;
}

.note {
	font-style: italic;
	color: #FFFFFF;
	border-color: #FFCC00;
	border-width: 1px;
	border-style: solid;
	text-align: left;
}

.download {
	padding:0px 0px 20px 35px;
	/*background: #333333 url('../Images/HR1.jpg') no-repeat bottom 50%;*/
	background-color: #333333;
	background-image: url('../Images/HR1.jpg');
	background-repeat: no-repeat;
	background-position: left bottom;
}

.download img {
	padding: 0 10px 10px 10px;
	margin-top: -20px
}

.underline {
	text-decoration: underline;
}

table {
}

th {
	text-align:left;
}

td {
}
