<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCOM.FocuserSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASCOM.FocuserSimulator.Properties.Settings>
            <setting name="sMaxIncrement" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="sStepSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="sAbsolute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sTempComp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sTempCompAvailable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsMoving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sMaxStep" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="sPosition" serializeAs="String">
                <value>3500</value>
            </setting>
            <setting name="sIsStepSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sEnableHalt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sIsTemperature" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sTempCompPeriod" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="sStepPerDeg" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogHaltMove" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogTempRelated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogIsMoving" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogOther" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sTempMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="sTempMin" serializeAs="String">
                <value>-10</value>
            </setting>
        </ASCOM.FocuserSimulator.Properties.Settings>
    </userSettings>
</configuration>